/* global css for all project */
body {
    box-sizing: border-box;    
    /* overflow: hidden; */

}

/* font-family */
/* <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>   anton*/    
/* <link href='https://fonts.googleapis.com/css?family=Antonio' rel='stylesheet'>   antonio*/
/* <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>   montserrat */

p ,small{
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    margin-bottom: 0px;
    outline: 0;
    padding: 0;
    color: #616161;
    font-family: "Antonio", Sans-serif;
    font-size: 16px;
    font-weight: 200;
    word-spacing: 1px;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
color: black;
font-family: "Anton", sans-serif;
/* font-weight: 100;  aint working */
    /* background-color: pink; */
}

.text-purple {
    color: #772ae7 !important;
}
.btnAll{
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #772AE7 0%, #8E8DFF 100%);
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 55px 8px rgba(255, 255, 255, 0.43);
    padding: 15px 28px 15px 28px;
    transition: transform ease 0.3s;
}

.btnAll:hover{
    transform: scale(0.9);
    color: #7C34E8;
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #D5BAFF 100%);
}



.btnheader{
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #772AE7 0%, #8E8DFF 100%);
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 55px 8px rgba(255, 255, 255, 0.43);
    padding: 15px 28px 15px 28px;
    transition: transform ease 0.3s;
    margin-bottom: 8px;
}

.btnheader:hover{
    transform: scale(0.9);
    color: #7C34E8;
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #D5BAFF 100%);
}


.btnsingup{
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    background-image: linear-gradient(90deg, #772AE7 0%, #8E8DFF 100%);
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 55px 8px rgba(255, 255, 255, 0.43);
    padding: 15px 28px 1px 28px;
    transition: transform ease 0.3s;
}

.btnsingup:hover{
    transform: scale(0.9);
    color: #7C34E8;
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFFFF 0%, #D5BAFF 100%);
}


/* end here */


/* ajay css start here... */





/* narendra css start here */
.bg-purple{
    background: #772ae7;
}


/* and end here */



/* Ensure each service appears in a block layout */
.dropdown-menu-custom .card {
    display: block;
    margin-bottom: 20px; /* Adds space between the products */
  }
  
  /* Optional: For wider screens, you can have multiple columns */
  @media (min-width: 768px) {
    .dropdown-menu-custom .card {
      display: block; /* Each product takes up full width on larger screens */
    }
  }
  
  






/* end here */

/* disha Css start here... */





















/* end here */

/* Devesh css start here... */



















/* end here */

/* Jayant css start here */

.folower_h2{
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.section_fifth_h2{
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.video_h2{
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.sixth_entrepreneur{
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.second_section h3{
    font-size: 1.625rem;;
    font-family: "Anton", Sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 6px;
    color: #2D3031;
}

.desc_card{
    color: #222222;
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.desc{
    color: #6B6B6B;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.elementor-heading{
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.feedback{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 1.2px;
}
/* .section_para{
    color: #181818;
    font-family: "Anton", Sans-serif;
    font-size: 100px;
    font-weight: 500;
    letter-spacing: 1.2px;
} */






/* end here */

/* yogendra css start here */





/* end here */




/* trilok css start here */

.custom-border-radius {
    border-radius: 50%; 
}



/* end here */


/* harsh css start here */
#chatbot h1, #marketing h1{
    font-size: 65px;
    letter-spacing: 1.2px;
}

#chatbot h4, #marketing h4{
    font-weight: 200;
    letter-spacing: 1px;
}

#chatbot h2, #marketing h2{
    font-size: 42px;    
    letter-spacing: 1.2px;
}

.example p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.video-modal {
    z-index: 1050;
}

.bg-pink{
    background-color: #D2B6DE;
}

.steps .steps-content{
    background-color: #EDF2ED;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps .steps-content p{
    font-family: "Montserrat" !important;
}

.steps .steps-content .detail{
    color: #222222;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.faq h2{
    font-family: "Poppins";
}

.faq .accordion .accordion-item{
    border-right: none;
    border-left: none;
    margin: 0rem 5rem;
}

.faq .accordion .accordion-button{
    background-color: transparent !important;
    color: black !important;
    padding: 2rem 1rem 2rem 1rem !important;
}

.faq .accordion .accordion-button:hover{
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.faq .accordion .accordion-button:focus{
    color: #772AE7 !important;
}



/* end here */